################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JewelsOnContainer/.vs/JewelsOnContainer/v16/Server/sqlite3/db.lock
